h1 {
  font-family: sans-serif;
}

body {
  font-family: roboto;
  background-color: white;
  margin: 0;
}

main {
  height: 22.95em;
  overflow: hidden;
}

main > section {
  transition: 5s ease-in;
  margin: 1em;
}


main > div:first-child:hover ~ section {
  transform: translate(0em, -40em);
  transition: 5s ease-in;
}

.container {
  height: 560px;
  overflow: hidden;
  display: block;
  cursor: url(../img/planecursor.png) 50 50, auto;
}

.sliding-background {
  /* background: url("../img/v2/bg.png") repeat-x; */
  height: 560px;
  width: 5076px;
  animation: slide 30s linear infinite;
  background-color: #4fc0be;
}

.clouds {
  background: url("../img/v2/clouds.png") repeat-x;
  height: 560px;
  width: 5076px;
  animation: slide 15s linear infinite;
  margin-top: -560px;
}

.sliding-foreground {
  background: url("../img/v2/fg.png") repeat-x;
  height: 560px;
  width: 5076px;
  animation: slide 3s linear infinite;
  margin-top: -500px;
}

main > div:first-child {
  position: absolute;
  z-index: 10;
  margin-left: 9.3em;
  margin-top: -28em;
  opacity: 0%;
  cursor: auto;
}

main > div:first-child:hover {
  opacity: 100%;
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-1692px, 0, 0);
  }
}


/* ------------------------SHAPES------------------------- */

#trapezoid {
  border-top: 250px solid #f4ebce;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  height: 0;
  width: 7px;
  position: absolute;
  margin-top: -41.5em;
  margin-left: 11em;
  transform: rotate(35deg);
}

#trapezoid2 {
  border-top: 250px solid #243966;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  height: 0;
  width: 7px;
  margin-left: 11.5em;
  margin-top: -41.2em;
  position: absolute;
  transform: rotate(37deg);
}

#trapezoid3 {
  border-top: 250px solid #f4ebce;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  height: 0;
  width: 7px;
  position: absolute;
  margin-top: -41.5em;
  margin-left: 19em;
  transform: rotate(25deg);
}

#trapezoid4 {
  border-top: 250px solid #243966;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  height: 0;
  width: 7px;
  margin-left: 19.5em;
  margin-top: -41.2em;
  position: absolute;
  transform: rotate(27deg);
}